@{
    ViewData["Title"] = "Random";
}

<h2>Random</h2>

<partial name="_EducationUrl" />

@if (ViewBag.CurrentRoute == "route1")
{
    <div class="random">
        <p>Jag har använt [Route()] för att ändra routingen till den här sidan</p>
        <a asp-controller="Main" asp-action="RandomAlternative">Gå till Random med annan route</a>
        <p class="green-text">/main/routechange</p>
    </div>
}
else if (ViewBag.CurrentRoute == "route2")
{
    <div class="random">
        <p>Jag har använt [Route()] för att ändra routingen till den här sidan</p>
        <a asp-controller="Main" asp-action="Random">Gå till Random med annan route</a>
        <p class="green-text">/random</p>
    </div>
}
