@model Moment2.Models.UserModel

@{
    ViewData["Title"] = "Start";
}

<h2>Fyll i dina uppgifter</h2>

@if (ViewBag.SessionSavedName != null)
{
    <p class="green-text">Välkommen @ViewBag.SessionSavedName!</p>
    <partial name="_EducationUrl" />
}


@if (ViewBag.Error != null)
{
    <div class="validation-summary-errors">
        @ViewBag.Error
    </div>
}

<form asp-action="Submit" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="UserName">Namn:</label>
        <span asp-validation-for="UserName" class="text-danger"></span>
        <input asp-for="UserName" />
    </div>
    <div>
        <label asp-for="Age">Ålder:</label>
        <span asp-validation-for="Age" class="text-danger"></span>
        <input asp-for="Age" />
    </div>
    <div>
        <label asp-for="Email">Email:</label>
        <span asp-validation-for="Email" class="text-danger"></span>
        <input asp-for="Email" />
    </div>

    <div>
        <label asp-for="Program">Utbildning:</label>
        <select asp-for="Program">
            <option value="">Välj utbildning</option>
            <option value="Webbutvecklare">Webbutveckling</option>
            <option value="Ingenjör">Ingenjör</option>
            <option value="Lärare">Lärare</option>
            <option value="Sjuksköterska">Sjuksköterska</option>
            <option value="Annat">Annat</option>
        </select>
        <span asp-validation-for="Program" class="text-danger"></span>
    </div>

    <div>

        <input type="radio" asp-for="Year" value="1" id="one" />
        <label for="one">1</label>

        <input type="radio" asp-for="Year" value="2" id="two" />
        <label for="two">2</label>

        <input type="radio" asp-for="Year" value="3" id="three" />
        <label for="three">3</label>

        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <button type="submit">Skicka</button>
</form>