<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/style.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Moment 2</h1>
    <nav>
        <div class="hamburger-menu" onclick="toggleMenu()">☰</div>
        <ul id="navbar">
            <li><a asp-controller="Main" asp-action="Start">Hem</a></li>
            <li><a asp-controller="Main" asp-action="CurrentSessionData">Session</a></li>
            <li><a asp-controller="Main" asp-action="Random">Random</a></li>
        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>
</body>
    <partial name="_Footer" />
</html>

<script>
    function toggleMenu() {
        var navbar = document.getElementById("navbar");
        navbar.classList.toggle("show");
    }
</script>